.main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-bg-light);
  padding: 7rem 1rem calc(72px + 5rem);
  width: 100%;

  @media (max-width: 600px) {
    padding: 3.5rem 0.5rem calc(72px + 2rem);
  }
}

