@use "../variables" as *;

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

app-header {
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-bg-light;
  padding: 0 1rem;
  width: 100%;
}

app-player {
  flex: 1;
}


app-footer {
  flex: 0 0 auto;
}
